@import "./index.css";

.contact__section{
    width: 100%;
    margin: auto;
    padding: 60px 0;
    background-color: var(--SoftBlue);
}

.contact__section__container{
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact__section__container span{
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: .8em;
    margin-bottom: 20px;
}

.contact__section__container h2{
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 40px;
}

.contact__section__container form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.contact__section__container form input:nth-child(1){
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: .9em;
    padding-left: 15px;
    margin-bottom: 15px;
}

.contact__section__container form input:nth-child(1)::placeholder{
    color: hsl(240, 6%, 80%);
}

.contact__section__container form input:nth-child(2){
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: .8em;
    background-color: var(--SoftRed);
    color: #fff;
    font-weight: 500;
}

.contact__section__container form input:nth-child(2):hover{
    transition: all .2s;
    color: var(--SoftRed);
    background-color: #fff;
}

@media screen and (min-width: 1024px){

    .contact__section{
        padding: 40px 0;
    }

    .contact__section__container{
        width: 30%;
    }

    .contact__section form{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .contact__section form input:nth-child(1){
        margin-right: 20px;
        width: 60%;
    }

    .contact__section form input:nth-child(2){
        width: 40%;
    }
}