@import "./index.css";

.downloads__section{
    width: 90%;
    margin: auto;
    text-align: center;
}

.downloads__section h2{
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--VeryDarkBlue);
}

.downloads__section p{
    font-size: .9em;
    margin-bottom: 50px;
}

.downloads-cards__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    max-width: 350px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 22px -4px rgba(185, 184, 184, 0.75);
}

.card a{
    margin-bottom: 10px;
    text-decoration: none;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: .8em;
    font-weight: 500;
    color: #fff;
    background-color: var(--SoftBlue);
    margin-top: 20px;
    border: 2px solid transparent;
}

.card a:hover{
    transition: all .3s;
    color: var(--SoftBlue);
    background-color: #fff;
    border: 2px solid var(--SoftBlue);
}

.card h3{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: var(--VeryDarkBlue);
}

@media screen and (min-width: 1024px){

    .downloads__section{
        width: 70%;
    }

    .downloads__section h2{
        font-size: 1.8em;
    }

    .downloads-cards__container{
        width: 90%;
        flex-direction: row;
        margin: 100px auto 150px auto;
    }

    .card a{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .card{
        width: 30%;
        margin: auto;
    }

    .card:nth-child(2){
        transform: translateY(10%);
    }

    .card:nth-child(3){
        transform: translateY(20%);
    }

}