@import "./index.css";

.hero__section{
    width: 100%;
    margin: 50px 0 70px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero__section img{
    width: 90%;
    position: relative;
    z-index: 100;
}

.hero__img-bg{
    position: absolute;
    width: 80%;
    height: 180px;
    right: 0;
    transform: translateY(8vh);
    border-radius: 0px 0 0 40%;
    background-color: var(--SoftBlue);
}

.principal-info__section{
    width: 90%;
    text-align: center;
    margin: 70px auto;
}

.principal-info__section h1{
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--VeryDarkBlue);
}

.principal-info__section p{
    margin-bottom: 40px;
}

.btn__getIt__container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.btn__getIt__container a{
    display: block;
    min-width: 120px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: .9em;
    text-decoration: none;
    padding: 0 15px;
}

.btn__getIt__container a:nth-child(1){
    border: 2px solid transparent;
    background-color: var(--SoftBlue);
    color: #fff;
}

.btn__getIt__container a:nth-child(1):hover{
    transition: all .2s;
    background-color: #fff;
    color: var(--SoftBlue);
    border: 2px solid var(--SoftBlue);
}

.btn__getIt__container a:nth-child(2){
    background-color: rgb(245, 242, 242);
    border: 2px solid transparent;
    color:  hsl(228, 2%, 46%);
    font-weight: 500;
    box-shadow: 10px 10px 24px -10px rgba(158, 157, 157, 0.75);
}

.btn__getIt__container a:nth-child(2):hover{
    transition: all .2s;
    background-color: #fff;
    color: hsl(230, 3%, 44%);
    border: 2px solid hsl(230, 3%, 44%);
}

@media screen and (min-width: 1024px){
    .hero__container{
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 40px auto 120px auto;
    }

    .hero__img-bg{
        display: none;
    }

    .principal-info__section{
        width: 40%;
        text-align: initial;
        margin: auto;
        margin-right: 10%;
    }

    .principal-info__section p{
        width: 100%;
        font-size: .8em;
    }

    .hero__section{
        width: 60%;
        margin: auto;
        transform: translateX(10%);
    }

    .hero__section img{
        width: 100%;
        position: static;
        z-index: 1;
    }

    .btn__getIt__container{
        width: 100%;
        justify-content: flex-start;
    }

    .btn__getIt__container a{
        font-size: .8em;
        min-width: 160px;
        justify-content: center;
        height: 45px;
    }

    .btn__getIt__container a:nth-child(1){
        margin-right: 20px;
    }
}